python-dotenv
sqlalchemy>=2.0
psycopg2-binary>=2.9
openai
streamlit
langchain
langchain-core
langchain-text-splitters
langchain-openai
langchain-chroma
langchain-community
langchain_huggingface
sentence_transformers
chromadb
pypdf
